@font-face {
    font-family: baroque;
    src: url(https://saravana2906.github.io/marriage-invitation/fonts/BaroqueScript.ttf);
    font-weight: bold;
  }

  .apply-font {
      font-family: baroque;
  }
  
  .header-color {
	  color: green;
  }

  .red {
      color: red;
  }
  #header {
      margin: 5% 35% 0%;
  }
  .invitation {
      margin: 25px 0px;
      border-color: red;
  }
  .flex-container{
      display: flex;
      flex-direction: row;
  }
  .flex-container > div {
    margin: 10px;
    font-size: 30px;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
  }
  @media (max-width: 800px) {

    .flex-container > div {
        margin: 10px;
        font-size: 20px;
      }
    
      #header {
        margin: 5% 20% 0%;
    }
  }
