@font-face {
    font-family: baroque;
    src: url(https://saravana2906.github.io/marriage-invitation/fonts/BaroqueScript.ttf);
    font-weight: bold;
  }

  .apply-font {
      font-family: baroque;
  }
  
  .header-color {
	  color: green;
  }

  .red {
      color: red;
  }
  #header {
      margin: 5% 35% 0%;
  }
  .invitation {
      margin: 25px 0px;
      border-color: red;
  }
  .title-flex{
      display: flex;
      flex-direction: row;
  }
  .title-flex > div {
    margin: 10px;
    font-size: 30px;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
  }
  .image-flex{
      margin-left: 10px;
      display: flex;
      flex-direction: row;
  }
  .image-margin {
    margin-left: 20%;
    margin-right: 20%;

  }
  .image-flex > div {
    margin: 10px;
    font-size: 30px;
  }
  .big-screen{
      display: block;
  }
  .small-screen{
      display: none;
  }
  .invitation {
    margin-left: 15%;
    margin-right: 10%;
  }
  #salutation {
      font-size: 25px;
      font-weight: bold;
  }
  .msg-body{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    word-spacing: 10px;
  }
  @media (max-width: 900px) {

    .title-flex > div {
        margin: 10px;
        font-size: 20px;
      }
      .image-flex > div {
        margin: 10px;
        font-size: 20px;
      }
      .image-margin {
        margin-left: 10%;
        margin-right: 10%;
      }
    
      #header {
        margin: 5% 20% 0%;
    }
    .big-screen{
        display: none;
    }
    .small-screen{
        display: block;
    }
    .invitation {
        margin-left: 5%;
        margin-right: 5%;
      }
    .msg-body{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 15px;
        font-weight: bold;
      }
  }
