@font-face {
    font-family: baroque;
    src: url(https://saravana2906.github.io/marriage-invitation/fonts/BaroqueScript.ttf);
    font-weight: bold;
  }

  .apply-font {
      font-family: baroque;
  }
  
  .header-color {
	  color: green;
  }

  .red {
      color: red;
  }
  #header {
      margin: 5% 30% 0%;
  }